body {
    text-align: center;
}

#container {
    width: 600px;
    height: 600px;
    border: 2px dotted black;
    margin: 0 auto;
    font-size: 0;
    padding: 1px 0 0 1px;
}

.grid {
    float: left;
    background-color: #f3f3f3;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    box-sizing: border-box;
}

.gridHover {
    background-color: #9f9f9f;
}